.deco-line{
    padding-left: 1rem;
    position: relative;
}
.deco-line::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    background-color: $info;
}